@import './../../assets/images/UIkit.scss';
.productContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    box-sizing: border-box;
    @extend %borders;
    height: 100%;
    width: 100%;
}